/*
* @Author: lenovo
* @Date:   2018-08-11 13:18:29
* @Last Modified by:   lenovo
* @Last Modified time: 2018-09-18 17:49:49
*/
*{
	padding: 0;
	margin: 0;
	font-family:”苹方“;
	list-style: none;
	box-sizing: border-box;
	position: relative;
}
a{
	text-decoration: none
}
i{
	font-style: normal;
}
.top{
	width: 100%;
	height: 1.2rem;
	background: #FFDD22;
	padding: 0 0.24rem;
	/* overflow: hidden; */
	position: relative;
	padding-top: 0.15rem;
	margin-bottom: 0.3rem;
}
.top .container{
	height: 100%;
}
.top .top-top{
	width: 100%;
	height: 0.88rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #FFDD22;
	/* margin-top: 0.15rem; */
}
.top .fh{
	width: 0.48rem;
	height: 0.48rem;
	border-radius: 50%;
}
.top .fh .icon-shezhi{
	display: block;
	line-height: 0.48rem;
	font-size: 0.3rem;
	color: #FFDD23;
	text-align: center;
}
.top .top-top .wenzi{/
	width: 3.53rem;
	height: 0.88rem;
	font-size: 0.4rem;
	text-align: center;
	color: #fff;
}
.top .top-top .t-t-right{
	width: 1.2rem;
	height: 0.88rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.top .t-t-right .ssuo{
	width: 0.48rem;
	height: 0.48rem;
	border-radius:50%;
	background: #fff;
	box-shadow: 0 0.08rem 0.3rem 0.005rem rgba(255, 176, 34, 0.6);
}
.top .t-t-right .ssuo:nth-child(1){
	background: none;
	box-shadow: none;
}
.top .ssuo .icon-sousuo{
	display: block;
	line-height: 0.48rem;
	font-size: 0.25rem;
	color: #FFDD23;
	text-align: center;
}
.top .ssuo .icon-Pathx{
	display: block;
	line-height: 0.48rem;
	font-size: 0.25rem;
	/* color: #FFDD23; */
	text-align: center;
}
/* .top .top-top .wenzi img{
	width: 3.53rem;
	height: 0.68rem;
} */
/* 返回及文字标题 */
/* 头部结束 */
.tuijian{
	width: 100%;
	height: 0.8rem;
	padding: 0 0.24rem;
	margin-top: 0.2rem;
	margin-bottom: 0.3rem;
}
.tuijian .container{
	height: 0.8rem;
}
.tuijian p{
	font-size: 0.25rem;
	color: #FFD824;
}
.tuijian p:nth-child(2){
	font-size: 0.25rem;
	color: #FFD824;
}
.shangjiatu{
	width: 100%;
	height: 2.95rem;
	padding: 0 0.24rem 0 0.24rem;
	margin-bottom: 0.5rem;
}
.shangjiatu .container{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: scroll;
}
.shangjiatu .num1{
	width: 2.3rem;
	height: 100%;
	border-radius: 0.25rem;
	box-shadow: 0 0.08rem 0.3rem 0.005rem rgba(255, 183, 173, 0.6);
}
.shangjiatu .num1-pic{
	width: 100%;
	height: 1.3rem;
}
.shangjiatu .num1-pic img{
	width: 100%;
	height: 1.3rem;
	border-radius: 0.2rem;
}
.shangjiatu .num1 .num1-name{
	width: 100%;
	height: 0.43rem;
	font-size: 0.3rem;
	text-align: center;
	border-bottom: 0.01rem dotted #CBCBCB; 
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.shangjiatu .num1 h5{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 0.25rem;
	color: #979797;
	text-align: center;
	margin-bottom: 0.1rem;
}
.shangjiatu .num1 .num1-youhui{
	width: 1rem;
	height: 0.5rem;
	margin: 0 auto;
	font-size: 0.2rem;
	color: #FF3D23;
}
/* 附近商家 */
.history{
	width: 100%;
	height: 4.7rem;
	padding: 0 0.24rem;
}
.history .container{
	height: 100%;
}
.history li{
	width: 100%;
	height: 1.4rem;
	margin-bottom: 0.22rem;
	box-shadow: 0 0.08rem 0.3rem 0.005rem rgba(255, 180, 195, 0.6);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 0.15rem;
}
.history li:nth-child(3){
	margin-bottom: 0;
}
.history li .hos-left{
	width: 3.7rem;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.history li .hos-left .left-pic{
	height: 1.4rem;
	width: 1.4rem;
}
.history li .hos-left .left-pic img{
	height: 1.4rem;
	width: 1.4rem;
	border-radius: 0.15rem;
}
.history li .hos-left .left-troduce{
	width: 2.2rem;
	height: 100%;
	overflow: hidden;
}
.history li .hos-left .left-troduce .tro-name{
	width: 100%;
	height: 0.44rem;
	background: #fff;
	font-size: 0.3rem;
	border-bottom: 0.01rem dotted #EAEAEA;
}
.history li .hos-left .left-troduce h5{
	font-size: 0.25rem;
	color: #979797;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}
.history li .hos-left .left-troduce p{
	font-size: 0.2rem;
	color: #FF3B20;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.history li .hos-right{
	width: 3.3rem;
	height: 100%;
}
.history li .hos-right .pjia{
	width: 1.62rem;
	height: 0.5rem;
	border-radius: 0.3rem;
	background: #fff;
	box-shadow:0rem  0.08rem 0.3rem 0.005rem rgba(255, 196, 4, 0.6);
	font-size: 0.25rem;
	text-align: center;
	line-height: 0.5rem;
	color: #FFD92E;
	margin: 0.15rem auto;
}
/* 历史订单 */
.dibu{
	width: 100%;
	padding: 0.2rem 0rem 0rem;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	/* box-sizing: border-box; */
	box-shadow: 0.08rem 0rem 0.3rem 0.005rem rgba(255, 196, 4, 0.6);
}
.dibu .continer0{
	height: 100%;
	/* background: red; */
}
.dibu ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.dibu ul li{
	width:25%;
	height: 0.95rem;
	font-size: 0.18rem;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.dibu ul li p{
	/* margin-top:0.6rem; */
	color: #737272;
}
.dibu ul li .iconfont{
	display: block;
	font-size: 0.5rem;
	color: #828282;
}
.dibu ul li .icon-dingdan{
	color: #FEDC32;
}