/*
* @Author: lenovo
* @Date:   2018-08-08 11:52:26
* @Last Modified by:   lenovo
* @Last Modified time: 2018-08-08 13:04:05
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
header{
	width: 100%;
	height: 0.9rem;
	background: red;
}
header .position{
	width: 2.34rem;
	height: 100%;
	background: yellow;
	font-size: 0.14rem;
	line-height: 0.9rem;
	text-align: center;
	float: left;
}
header input{
	width: 4.28rem;
	height: 0.60rem;
	background: #fff;
	float: left;
	border-radius: 0.5rem;
	border: none;
	margin: 0.15rem 0 0 0.1rem;
	padding-left: 0.57rem;

	/* 改变input中输入文字的样式 */
	font-size: 0.24rem;
	line-height: 0.6rem;
	color: red;
	/* 改变搜索的样式 */
	background-image: url('../img/sousuo.png');
	background-repeat: no-repeat;
	background-position: 0.03rem center;
	background-size: 0.6rem 0.6rem;
	border: none;
}
input::-webkit-input-placeholder{
	color: #ff6700;
	line-height: 0.45rem;
	font-size: 0.20rem;
	outline: none;
}