/*
* @Author: lenovo
* @Date:   2018-08-11 13:18:29
* @Last Modified by:   lenovo
* @Last Modified time: 2018-08-12 14:56:21
*/
*{
	padding: 0;
	margin: 0;
	font-family:”苹方“;
	list-style: none;
	box-sizing: border-box;
	position: relative;
}
a{
	text-decoration: none
}
i{
	font-style: normal;
}
.top{
	width: 100%;
	height: 2.2rem;
	background: #FFDD22;
	padding: 0 0.24rem;
	/* overflow: hidden; */
	position: relative;
	margin-bottom: 0.45rem;
}
.top .container{
	height: 100%;
}
.top .top-top{
	width: 100%;
	height: 0.88rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background: #FFDD22;
}
.top .top-top a{
	height: 0.88rem;
	line-height: 0.86rem;
	margin-left: -0.05rem;
	background: 
}
.top .top-top .icon-fanhui{
	display: block;
	font-size: 0.5rem;
	color: #fff;
	margin-right: 1.65rem;
}
.top .top-top .wenzi{
	margin-top: 0.1rem;
	width: 3.53rem;
	height: 0.88rem;
	font-size: 0.4rem;
	text-align: center;
	color: #fff;
}
.top .top-top .wenzi img{
	width: 3.53rem;
	height: 0.68rem;
}
/* 返回及文字标题 */
.top .xinxi{
	width: 100%;
	height: 1.3rem;
	background: #fff;
	position: absolute;
	bottom: -0.18rem;
	left: 0;
	border-radius: 0.2rem;
	overflow: hidden;
	box-shadow: 0 0.08rem 0.3rem 0.005rem rgba(255, 231, 91, 0.6);
}
.top .xinxi-top{
	width: 100%;
	height: 1.3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* line-height: 1.12rem; */
}
.top .xinxi-top .x-t-left{
	width: 2.88rem;
	height: 100%;
	padding-left: 0.22rem;
}
.top .xinxi-top .x-t-left img{
	width: 0.24rem;
	height: 0.28rem;
	display: block;
	float: left;
	margin-top: 0.5rem;
}
.top .xinxi-top .x-t-left p{
	width: 2.15rem;
	height: 0.45rem;
	font-size: 0.35rem;
	margin-top: 0.35rem;
	color: #000;
	margin-left: 0.4rem;
}
.top .xinxi-top .x-t-right{
	width: 3.33rem;
	height: 100%;
}
.top .xinxi-top .x-t-right p{
	margin-left: 1.5rem;
	font-size: 0.2rem;
	margin-top: 0.42rem;
	float: left;
	margin-right: 0.2rem;
	color: #FEDA14;
	margin-right:0.4rem; 
	color: #FF268C;
}
.top .xinxi-top .x-t-right p span{
	font-size: 0.3rem;
}
.top .x-t-right .icon-fanhui-copy{
	display: block;
	margin-top: 0.45rem;
	color: #FEDA14;
}
/* 头部结束 */
.paycard{
	width: 100%;
	height: 3.55rem;
	padding: 0 0.24rem;
}
.paycard .container{
	width: 100%;
	height: 3.55rem;
	box-shadow: 0 0.08rem 0.3rem 0.005rem rgba(255, 231, 91, 0.6);
	border-radius: 0.35rem;
	background-image: url('../img/paycard_09.png');
	background-size: cover;
	position: relative;
}
.paycard p{
	font-size: 0.4rem;
	text-align: center;
	line-height: 3.7rem;
	margin-left: 0.45rem;
	color: #EFB333;
}
.paycard span{
	color: #fff;
}
.paycard h4{
	color: #fff;
	font-size: 0.35rem;
	position: absolute;
	bottom: 0.15rem;
	right: 0.15rem;
}
/* 银行卡结束 */
.jianpan{
	width: 100%;
	height: 7.7rem;
	position: relative;
	position: fixed;
	bottom: -0.2rem;
	padding: 0 0.24rem;
	overflow: hidden;
}
.jianpan .container{
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	overflow: hidden;
	margin-bottom: 0.3rem;
}
.jianpan .paymima{
	width: 100%;
	height:0.70rem;
	margin-top: 0.4rem;
	margin-bottom: 0.5rem;
}
.jianpan .paymima img{
	margin: 0 auto;
	display: block;
	width: 4.95rem;
	height:0.5rem;
}
/* 通用的上半部分 */
.jianpan .tuan{
	width: 100%;
	height: 5.5rem;
	overflow: hidden;
}
.jianpan .tuan .circle{
	width: 2.34rem;
	height: 1.6rem;
	/* background: blue; */
	float: left;
	margin-top: 0.1rem;
}
.jianpan .tuan .circle .waiwei{
	width: 0.35rem;
	height: 0.35rem;
	border-radius: 50%;
	background: #F72759;
	margin: 0 auto;
	margin-top: 0.6rem;
	overflow: hidden;
	border: 0.06rem solid #EAEAEA;
}
.jianpan .tuan .circle .waiwei .limian{
	width: 0.15rem;
	height: 0.15rem;
	border-radius: 50%;
	background: #fff;
	margin: 0 auto;
	margin-top: 0.05rem;
}
.jianpan .xiantiao{
	width: 2rem;
	height: 0.17rem;
	position: absolute;
	left: 1.32rem;
	top: 5.8rem;
	background: #FEDDE5;
}
.jianpan .xiantiao:nth-child(4){
	left: 3.7rem;
}
/* 横线条 */
.jianpan .xiantiao:nth-child(5){
	width: 0.17rem;
	height: 1.4rem;
	top: 2.6rem;
	left: 1.08rem;
}
.jianpan .xiantiao:nth-child(6){
	width: 0.17rem;
	height: 1.4rem;
	top: 4.3rem;
	left: 1.08rem;
}